name: Build and Test
on: push

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Install apt dependencies
        run: >
          sudo apt-get update -y &&
          sudo apt-get install -y build-essential pkg-config libc6-dev
          m4 g++-multilib autoconf libtool ncurses-dev unzip git python3
          python3-zmq zlib1g-dev curl bsdmainutils automake libtinfo5
          python3-pip python3-dev libffi-dev

      - run: pip3 install --upgrade pip

      - uses: actions/checkout@v2

      - run: pip install -r ./contrib/ci-builders/tekton/requirements.txt

      - run: ./zcutil/build.sh

      - run: ./zcutil/fetch-params.sh

      - run: ./qa/zcash/full_test_suite.py
